{
     "jsc": {
         "parser": {
             "syntax": "typescript",
             "decorators": true
         },
         "transform": {
            "decoratorMetadata": true
         }
     }
}
